@model ConnectingDatabase.Models.UserProfileViewModel;

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary text-center">User Profile</h2>
        <hr />
        <div class="col-6 mb-3">
            <label asp-for="@Model.Name" class="p-0"></label>
            <input asp-for="@Model.Name" class="form-control" value="@Model.Name" disabled />
        </div>
        <div class="col-6 mb-3">
            <label asp-for="@Model.Email" class="p-0"></label>
            <input asp-for="@Model.Email" class="form-control" value="@Model.Email" disabled />
        </div>
        <div class="col-6 mb-3">
            <label asp-for="@Model.Contact" class="p-0"></label>
            <input asp-for="@Model.Contact" class="form-control" value="@Model.Contact" disabled />
        </div>
        <div class="col-6 mb-3">
            <label asp-for="@Model.Address" class="p-0"></label>
            <input asp-for="@Model.Address" class="form-control" value="@Model.Address" disabled />
        </div>
        <div class="col-6 mb-3">
            <label asp-for="@Model.City" class="p-0"></label>
            <input asp-for="@Model.City" class="form-control" value="@Model.City" disabled />
        </div>
        <div class="col-6 mb-3">
            <label asp-for="@Model.Pincode" class="p-0"></label>
            <input asp-for="@Model.Pincode" class="form-control" value="@Model.Pincode" disabled />
        </div>
    </div>
</div>